.nav-content {
  display: flex;
  justify-content: space-between;

  align-items: center;

  a {
    font-weight: 600;
    color: #e22323;
    text-decoration: none;
    font-size: 28px;
    min-width: 44px;
    min-height: 44px;
  }
}

.desktop-nav-link {
  display: none;

  a {
    box-sizing: border-box;
    padding: 10px 10px;

    font-size: 18px;
    transition: all 0.1s;
    border-radius: 5px;
    color: black;
    font-weight: 400;

    text-decoration: none;
    height: fit-content;
  }

  a:hover {
    background-color: #e22323;
    color: white;
  }
}

.mobile-ham-btn {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  transition: 0.2s ease;
}

.ham-icon {
  width: 44px;
}

.mobile-nav-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  background-color: #e22323;
  left: 0;
  box-sizing: border-box;
  padding-top: 5px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 5px;
  transition: all 200ms ease;
  height: 144px;
  justify-content: space-between;
}

.mobile-nav-content a {
  text-decoration: none;
  color: white;
  padding: 10px;
  min-height: 44px;

  box-sizing: border-box;
}

.mobile-nav-content a:hover {
  background-color: #8d1515;
}

.hide-mobile-nav-content {
  overflow: hidden;
  height: 0;
  visibility: hidden;

  padding-bottom: 0;
  padding-top: 0;
}

.nav {
  position: relative;
  padding: 10px 10px;
}

@media (min-width: 768px) {
  .mobile-ham-btn {
    display: none;
  }

  .ham-icon {
    width: 200px;
    display: none;
  }

  .desktop-nav-link {
    display: flex;
  }
  .mobile-nav-content {
    display: none;
  }
}
