.loader-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 11;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  p {
    font-weight: 500;
    color: #e22323;
  }
}

.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid lightgray;
  border-top: 5px solid #e22323;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
