<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <title>Resto Homepage</title>
  </head>
  <body>
    <skip-button></skip-button>
    <app-bar></app-bar>

    <hero-image></hero-image>
    <section id="main-content" class="container">
      <resto-content> </resto-content>
    </section>
    <footer id="footer">copyright© 2021 - Aqshola</footer>
  </body>
</html>
