<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <title>Resto Detail</title>
  </head>
  <body>
    <skip-button></skip-button>
    <app-bar></app-bar>

    <section id="main-content" class="container">
      <div>
        <img src="" alt="" />
      </div>
      <h1>Judul Resto</h1>
      <h2>Lokasi</h2>
      <h3>Rating</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem in
        ipsum corporis numquam similique iste esse deserunt eveniet, soluta
        facilis odit provident aut, dignissimos voluptas illo quos totam atque
        perspiciatis commodi at nam aliquam! Repellendus voluptatibus eligendi
        magnam architecto inventore!
      </p>
    </section>
    <footer id="footer">copyright© 2021 - Aqshola</footer>
  </body>
</html>
