.container {
  max-width: 1440px;
  box-sizing: border-box;
  margin: auto;
  position: relative;
}

#main-content {
  min-height: 100vh;
}

.darken-img {
  filter: brightness(50%);
}

.err-msg {
  width: 100%;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 10;
  p {
    font-weight: 500;
  }
}
